* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
}    

div.blog {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

div.blog h3 {
    margin-top: 0.5em;
}

div.blog p.blog-info {
    margin-bottom: 0;
}

ul.sidebar-module {
    list-style-type: none;
}

.center {
    text-align: center;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.blog-info-description li{
    display: inline-block;
    margin-right: 1em;
}
