body {
    padding-top: 70px;
}

div.blog {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

div.blog h3 {
    margin-top: 0.5em;
}

div.blog p.blog-info {
    margin-bottom: 0;
}

ul.sidebar-module {
    list-style-type: none;
    padding: 0;
}

.center {
    text-align: center;
}

#back-top {
    position: fixed;
    bottom: 30px;
    right: 70px;
}