body {
    padding-top: 70px;
}

.blog-footer {
    text-align: center;
}

div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

div.blog h3 {
    margin-top: 0.5em;
}

div.blog p.blog-info {
    margin-bottom: 0;
}

ul.sidebar-module {
    list-style-type: none;
    padding: 0;
}
