{% extends 'diancan/base.html' %}

{% block title %}菜单{% endblock title %}

{% block nav_active %}active{% endblock nav_active %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      {% block diancan-content %}
        {% for dish in dishes %}
        <button type="button" class="btn btn-default" style="margin-right:2em;">{{ dish.name }}</button>
        {% endfor %}
      {% endblock diancan-content %}
    </div>
    <!-- /.diancan-main -->

    <div class="hidden-xs col-md-2 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="panel-heading">分类</h3>
          <ul class="sidebar-module">
            {% for dish in dishes %}
              <li><a href="#">{{ dish.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- /.blog-sidebar -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}
  