{% extends 'blog/base.html' %}

{% block title %}关于{% endblock title %}


{% block nav_about_active %}active{% endblock nav_about_active %}
    

{% block content %}

<div class="container">
    <h3>simfer的博客</h3>
    <h4>源码地址：</h4>
    <ul>
        <li>
            Github: 
            <a href="https://github.com/simTfer/simfersite" target="_blank">https://github.com/simTfer/simfersite</a>
        </li>
        <li>
            coding.net: https://git.coding.net/simFer/simfersite.git
        </li>
    </ul>
</div>

{% endblock content %}
    
