{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="simfer">
  <link rel="icon" href="#">

  <title>{% block title %}{% endblock title %}</title>

  <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'blog/blog.css' %}" rel="stylesheet"> {% block header %}{% endblock header %}
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">simfer的博客</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{% block nav_home_active %}{% endblock nav_home_active %}">
            <a href="#">首页</a>
          </li>
          <li class="{% block nav_blog_active %}{% endblock nav_blog_active %}">
            <a href="{% url 'blog_list' %}">博客</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-md-9">

        {% block blog-content %}{% endblock blog-content %}

      </div>
      <!-- /.blog-main -->

      <div class="hidden-xs col-md-2 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">博客分类</div>
          <div class="panel-body">
            <ul class="sidebar-module">
              {% for category in categorys %}
                {% if category.count != 0 %}
                  <li><a href="{% url 'blog_category' category.name %}">{{ category.name }}({{ category.count }})</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">归档</div>
          <div class="panel-body">
            <ul class="sidebar-module">
              {% for date, blog_count in dates.items %}
              <li><a href="{% url 'blog_archive' date.year date.month %}">{{ date|date:"Y年n月" }}({{ blog_count }})</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">标签</div>
          <div class="panel-body">
            <ul class="sidebar-module">
              {% for tag in tags %}
                {% if tag.count != 0 %}
                <li><a href="{% url 'blog_tag' tag.name %}">{{ tag }}({{ tag.count }})</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <a href="#">
    <button id="back-top" type="button" class="btn btn-default" aria-label="Top">
      <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </button>
  </a>

  <script src="{% static 'jquery-1.12.4/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</body>

</html>