{% extends 'blog/base.html' %}

{% block title %}博客列表{% endblock title %}

{% block nav_blog_active %}active{% endblock nav_blog_active %}

{% block blog-post %}
<div class="panel panel-default">
  <div class="panel-heading"></div>
    <div class="panel-body">
      {% for blog in blogs %}
      <div class="blog">
        <h3>{{ blog.title }}</h3>
        <p class="blog-info">{{ blog.body|striptags|truncatechars:120 }}</p>
      </div>
      {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
      
    <!-- {% for page_num in paginator.page_range %}
    <li class="{% if page_num == page_obj.number %}active{% endif %}"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endfor %} -->
    
    <li{% if page_num == page_obj.number %} class="active disabled"{% endif %}><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    <li{% if page_num == page_obj.number %} class="active disabled"{% endif %}><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
    <li{% if page_num == page_obj.number %} class="active disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>

    
    {% if page_obj.has_next %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
      
  </ul>
</nav>
{% endblock blog-post %}
  